.content {
    background-color: rgb(233, 231, 231);
    width: 100%;
    height: 100%;
}

.pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url(../img/pokemon_wallpaper.jpg);
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.title {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 3rem;
    color: rgb(233, 231, 231);
    background-image: url(../img/pokemon_wallpaper.jpg);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #8cde66;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: #0000008e solid;
}

.pokemon .name_number {
    display: flex;
    justify-content: space-between;
}

.pokemon .number {
    color: #0000008e;
    opacity: 0.5;
    text-align: right;
    font-size: 1.5rem;
}
.pokemon .name {
    text-transform: capitalize;
    color: #0000008e;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.5rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    display: grid;
    gap: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #0000008e;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    background-color: #5653533e;
}

.pokemon .detail img {
    max-width: 100%;
    height: 130px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 1rem;
    color: rgb(233, 231, 231);
    background-image: url(../img/pokemon_wallpaper.jpg);
    border-radius: 0.5rem;
    width: 60%;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 420px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
